* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(242,242,242);
}


h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 80%;
    height: 400px;
    background-color: rgb(217,217,217);
    border-radius: 20px;
    box-shadow: 10px 15px 25px rgb(192,191,191);

}

#name,
#email{
    width: 60%;
    height: 25px;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
    background-color: rgb(112,112,112);
    color: #fff;
}

#name::placeholder,
#email::placeholder{
    color: #fff;
}

#textBox {
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
    background-color: rgb(112,112,112);
    color: #fff;
}

#textBox::placeholder {
    color: #fff;
}

input[type=submit] {
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 20px;
    background-color: rgb(98,98,98);
    color: #fff;
    transition: .4s;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

input[type=submit]{
    background-color: #000;
}

input[type=submit]:hover{
    text-shadow: 0 0 10px #fff;
    box-shadow: 0 0 20px #000;
}